<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.uniluebeck.itm.plugin"
      android:versionCode="1"
      android:versionName="1.0">


    <application android:icon="@drawable/icon" android:label="HelloWorldPlugin">

		<receiver android:name=".PluginBroadcastReceiver">
			<intent-filter>
				<action android:name="de.uniluebeck.itm.mdcf.PLUGIN_FIND"/>
			</intent-filter>
		</receiver>
		
		<service android:name=".HelloWorldPlugin">
			<intent-filter>
				<action android:name="de.uniluebeck.itm.plugin.HELLO_WORLD"/>
			</intent-filter>
		</service>
    </application>
    
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>